.font-close:before{content:'\f00d'}
.btn-default{background-color:#4da1ff;padding:0 10px;color:#fff}
.btn-default:hover{-webkit-box-shadow:0 1px 3px #888;-moz-box-shadow:0 1px 3px #888;-ms-box-shadow:0 1px 3px #888;box-shadow:0 1px 3px #888}
.btn-default.disabled,.btn-default[disabled]{-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none}
.btn-o{padding:0 10px;min-width:90px;border:1px solid #4da1ff;background-color:#fff;color:#4da1ff}
.bc-abbac3{background-color:#abbac3}
.bc-428bca{background-color:#428bca}
.bc-6fb3e0{background-color:#6fb3e0}
.bc-87b87f{background-color:#87b87f}
.bc-ffb752{background-color:#ffb752}
.bc-d15b47{background-color:#d15b47}
.bc-d6487e{background-color:#d6487e}
.bc-9585bf{background-color:#9585bf}
.bc-555{background-color:#555}