<div class="full-screen">
	<header class="header">
		<h1 class="logo"><a routerLink="/ng"><img src="./assets/images/logo.png"></a></h1>
		<i class="font-navicon small-nav" id="smallNav"></i>
	</header>
	<section class="container">
		<aside class="navigation oys" id="navigation">
			<ul>
				<li>
					<h3 class="js-tit"><span>路由与导航</span><i class="font-angle-right"></i></h3>
					<menu>
						<li>
							<h5 class="js-tit"><span>同步路由</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/sync-only-component" routerLinkActive="active">只有组件</a>
								<a routerLink="/ng/sync-has-ngModule" routerLinkActive="active">带 ngModule</a>
							</nav>
						</li>
						<li>
							<h5 class="js-tit"><span>异步路由</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/async-one" routerLinkActive="active">异步加载一个路由</a>
								<a routerLink="/ng/async-many" routerLinkActive="active">异步加载一个模块</a>
							</nav>
						</li>
						<li><a routerLink="/ng/preload" routerLinkActive="active">预加载</a></li>
						<li>
							<h5 class="js-tit"><span>子路由</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/child-sync" routerLinkActive="active">同步 tab 子路由</a>
								<a routerLink="/ng/child-async" routerLinkActive="active">异步 tab 子路由</a>
								<a routerLink="/ng/async-many" routerLinkActive="active">url 子路由</a>
							</nav>
						</li>
						<li><a routerLink="/ng/auth-guard" routerLinkActive="active">路由守卫</a></li>
						<li><a routerLink="/ng/fragment" routerLinkActive="active">查询参数及片段</a></li>
						<li>
							<h5 class="js-tit"><span>路由导航</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/router-nav" routerLinkActive="active">模板式导入</a>
								<a routerLink="/ng/router-nav-order" routerLinkActive="active">命令式导入</a>
								<a routerLink="/ng/router-param/22" routerLinkActive="active">获取参数</a>
							</nav>
						</li>
						<li><a routerLink="/ng/router-event" routerLinkActive="active">监听路由</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>模板与数据绑定</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/data/bind" routerLinkActive="active">绑定数据到模板</a></li>
						<li><a routerLink="/ng/data/ngFor" routerLinkActive="active">*ngFor 循环绑定数据</a></li>
						<li><a routerLink="/ng/data/ngIf" routerLinkActive="active">*ngIf 条件表达式</a></li>
						<li><a routerLink="/ng/data/ngSwitch" routerLinkActive="active">[ngSwitch] 条件表达式</a></li>
						<li><a routerLink="/ng/data/hidden" routerLinkActive="active">[hidden] 条件表达式</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>事件绑定</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/event" routerLinkActive="active">事件绑定</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>表单</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/form/form" routerLinkActive="active">表单提交</a></li>
						<li><a routerLink="/ng/form/checkbox" routerLinkActive="active">多选框取value值</a></li>
						<li>
							<h5 class="js-tit"><span>多选框全选取 data 上的值</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/form/checkbox-all" routerLinkActive="active">以数据索引排序多选</a>
								<a routerLink="/ng/form/checkbox-all-id" routerLinkActive="active">以数据  id 排序多选</a>
							</nav>
						</li>
						<li routerLink="/ng/form/template-var" routerLinkActive="active"><a>模板引用变量</a></li>
						<li>
							<h5 class="js-tit"><span>表单验证</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/form/validate-inner" routerLinkActive="active">内置模板验证</a>
								<a routerLink="/ng/form/validate-form-group" routerLinkActive="active">FormGroup函数验证</a>
								<a routerLink="/ng/form/validate-form-builder" routerLinkActive="active">FormBuilder函数验证</a>
							</nav>
						</li>
						<li>
							<h5 class="js-tit"><span>文件上传</span><i class="font-angle-right"></i></h5>
							<nav>
								<a routerLink="/ng/form/file-upload" routerLinkActive="active">文件上传</a>
							</nav>
						</li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>组件</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/component/layout" routerLinkActive="active">组件格式</a></li>
						<li><a routerLink="/ng/component/cpt-life" routerLinkActive="active">组件生命周期</a></li>
						<li>
							<h5 class="js-tit"><span>组件通信</span><i class="font-angle-right"></i></h5>
							<menu>
								<li><a routerLink="/ng/component/input" routerLinkActive="active">@Input() 子取父</a></li>
								<li><a routerLink="/ng/component/output" routerLinkActive="active">@Output() 监听父事件</a></li>
								<li><a routerLink="/ng/component/viewchild" routerLinkActive="active">@ViewChild() 父取子</a></li>
								<li><a routerLink="/ng/component/viewchildren" routerLinkActive="active">@ViewChildren() 父取多子</a></li>
								<li><a routerLink="/ng/component/id" routerLinkActive="active">模板引用变量父取子</a></li>
							</menu>
						</li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>指令</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/directive/property" routerLinkActive="active">属性型指令</a></li>
						<li><a routerLink="/ng/directive/structure" routerLinkActive="active">结构型指令</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>管道</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/pipe/inner" routerLinkActive="active">内置管道</a></li>
						<li><a routerLink="/ng/pipe/my" routerLinkActive="active">自定义管道</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>服务</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/service/service" routerLinkActive="active">自定义服务</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>动画</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/animation/animation" routerLinkActive="active">转场动画</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>Http</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/http/http" routerLinkActive="active">Http 请求数据</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>@ngrx</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/ngrx" routerLinkActive="active">ngrx</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>Typescript</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/typescript/type" routerLinkActive="active">定义变量强类型</a></li>
						<li><a routerLink="/ng/typescript/func" routerLinkActive="active">定义函数强类型</a></li>
						<li><a routerLink="/ng/typescript/interface" routerLinkActive="active">定义接口</a></li>
					</menu>
				</li>
				<li>
					<h3 class="js-tit"><span>案例</span><i class="font-angle-right"></i></h3>
					<menu>
						<li><a routerLink="/ng/case/calendar" routerLinkActive="active">时间组件</a></li>
					</menu>
				</li>
			</ul>
		</aside>
		<main class="oxys">
			<section class="content ng-frame">
				<router-outlet></router-outlet>
			</section>
		</main>
	</section>
</div>
