.font-angle-left:before{content:'\f104'}
.font-angle-right:before{content:'\f105'}
.data-picker{width:250px;position:relative;height:30px;line-height:30px;background-color:#fff}
.data-picker>input{width:100%;height:100%;position:relative;z-index:0;background:0 0}
.data-picker>i{position:absolute;z-index:0;right:10px;top:0}
.my-calendar{border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;padding:5px 10px;color:#333;font-size:14px;background-color:#fff}
.my-calendar.insert{position:absolute;z-index:100;left:0;top:0;width:300px;display:none;-webkit-box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;-ms-box-shadow:0 1px 3px #666;box-shadow:0 1px 3px #666}
.my-calendar>div{margin-bottom:10px}
.my-calendar .today{text-align:center;height:30px;line-height:30px;font-weight:700;font-size:16px}
.my-calendar .today span{margin-left:10px}
.my-calendar em{margin:0 5px}
.my-calendar em.day{margin:0}
.my-calendar .s-date{height:30px;line-height:30px;position:relative}
.my-calendar .s-date span{position:absolute;z-index:0;left:30px;top:0;height:100%;right:30px;text-align:center;font-weight:700;font-size:14px}
.my-calendar .s-date i{font-size:20px;cursor:pointer;width:30px;color:#666;font-weight:700}
.my-calendar .s-date i:before{display:block;text-align:center}
.my-calendar .s-date i:hover{background-color:#ede3ac;font-size:16px;color:#000}
.my-calendar .s-date i.disabled{display:none}
.my-calendar .s-date .dir-left{float:left}
.my-calendar .s-date .dir-right{float:right}
.my-calendar .s-date-1 select{width:48%;height:100%}
.my-calendar .s-date-1 .year{float:left;margin-left:1%}
.my-calendar .s-date-1 .month{float:right;margin-right:1%}
.my-calendar .s-year-month .s-date{width:50%;float:left;text-align:center}
.my-calendar .s-year-month .s-date select{width:98%}
.my-calendar select{font-weight:700;height:30px;vertical-align:top;color:#333}
.my-calendar table{text-align:center;margin-top:10px}
.my-calendar td,.my-calendar th{border:0;padding:5px}
.my-calendar td{cursor:pointer;font-family:Arial}
.my-calendar td:hover{background-color:#f8bf95}
.my-calendar td.now{background-color:red;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.my-calendar td.active{background-color:#4da1ff;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.my-calendar .weekend{color:#333}
.my-calendar .active{background-color:#b1520c;color:#fff}
.my-calendar .disabled{opacity:.5}
.my-calendar .disabled,.my-calendar .disabled:hover{color:#333}