.nav-list .tr,.nav-list a:after,.triangle{width:0;height:0;font-size:0;line-height:0;vertical-align:middle;overflow:hidden;display:inline-block;border-color:transparent;border-style:dashed}
.font-tit:before{content:'\f03a'}
.font-arrow:before{content:'\f105'}
.font-navicon:before{content:'\f0c9';font-size:16px}
.navigation{width:200px;border-right:1px solid #ccc}
.nav-list{font-size:14px}
.nav-list>li{border-bottom:1px solid #e5e5e5;position:relative}
.nav-list>li>a{padding:8px 0 8px 0;background-color:#f8f8f8}
.nav-list>li>a:hover{background-color:#fff}
.nav-list>li>a:hover:before{width:3px;height:100%;background-color:#4da1ff;position:absolute;z-index:0;left:0;top:0;content:''}
.nav-list>li>a.active{background-color:#fff}
.nav-list>li>a i{min-width:30px;text-align:center;font-size:18px;margin:0 5px}
.nav-list>li.open>a{background-color:#fafafa;color:#4da1ff}
.nav-list>li.open>a b:before{content:'\f107'}
.nav-list>li.active>a{background-color:#fff}
.nav-list>li.active:after{content:'';position:absolute;z-index:0;right:0;top:0;width:2px;height:100%;background-color:#4da1ff}
.nav-list a:after{content:'';position:absolute;right:0;top:50%;margin-top:-18px;border-right-style:solid;border-right-color:#4da1ff;border-width:18px 10px 18px 0;display:none}
.nav-list a{position:relative;display:block}
.nav-list a *{display:inline-block;vertical-align:middle}
.nav-list a b{position:absolute;z-index:0;right:10px;top:8px;height:100%;font-size:18px}
.nav-list menu{font-size:12px;position:relative;border-top:1px solid #e5e5e5}
.nav-list menu>li{border-top:1px dotted #e4e4e4}
.nav-list menu>li:first-child{border-top:0}
.nav-list menu>li>a{padding:6px 0 6px 35px}
.nav-list menu>li>a:before{content:'';width:8px;position:absolute;left:20px;top:50%;border-bottom:1px dotted #9dbdd6}
.nav-list menu>li>a .tr{display:none}
.nav-list menu>li>a:hover{background-color:#f1f5f9;color:#4da1ff}
.nav-list menu>li>a:hover:before{display:none}
.nav-list menu>li>a:hover .tr{display:block;border-left-color:#4da1ff}
.nav-list menu>li.active>a{background-color:#f5f7fa;color:#4da1ff}
.nav-list menu>li.active>a:before{display:none}
.nav-list menu>li.active>a:hover{background-color:#f1f5f9}
.nav-list menu>li.active>a .tr{border-left-color:#c86139;display:block}
.nav-list menu>li.open>a{background-color:#fafafa;color:#4da1ff}
.nav-list menu>li.open>a:before{display:none}
.nav-list menu>li.open>a b:before{content:'\f107'}
.nav-list menu>li.open>a .tr{border-left-color:#4da1ff;display:block}
.nav-list menu>li a.active{background-color:#f5f7fa;color:#4da1ff}
.nav-list menu>li a.active:before{display:none}
.nav-list menu>li a.active:hover{background-color:#f1f5f9}
.nav-list menu>li a.active .tr{border-left-color:#c86139;display:block}
.nav-list menu:before{content:'';position:absolute;z-index:1;left:18px;top:0;height:100%;border-left:1px dotted #9dbdd6}
.nav-list dl dd{margin-left:18px;border-top:1px dotted #e4e4e4}
.nav-list dl dd:first-child{border-top:0}
.nav-list dl a{padding:6px 0 6px 25px}
.nav-list dl a.active,.nav-list dl a:hover{background-color:#f1f5f9}
.nav-list dl a.active:before,.nav-list dl a:hover:before{display:none}
.nav-list dl a.active .tr,.nav-list dl a:hover .tr{display:block;border-left-color:#4da1ff}
.nav-list dl a.active:hover{background-color:#f1f5f9}
.nav-list menu li.active>a:after,.nav-list>li.active>a:after{display:block}
.nav-list menu li.active .js-menu a.active:after,.nav-list>li.active .js-menu a.active:after{display:none}
.nav-list menu li.open>a:after,.nav-list>li.open>a:after{display:none}
.nav-list menu li.open .js-menu a.active:after,.nav-list>li.open .js-menu a.active:after{display:block}
.nav-list>li.active li.active>a:after{display:none}
.nav-list>li.active li.active .js-menu a.active:after{display:none}
.nav-list>li.open li.active>a:after{display:block}
.nav-list>li.open li.active .js-menu a.active:after{display:none}
.nav-list>li.open li.open>a:after{display:none}
.nav-list>li.open li.open .js-menu a.active:after{display:block}
.nav-list span{margin-right:24px}
.nav-list .tr{position:absolute;z-index:1;left:17px;top:50%;border-left-style:solid;border-left-color:#757575;border-width:4px 0 4px 4px;margin-top:-4px}
.nav-list dl,.nav-list menu{display:none}