<header class="header">
	<h1 class="logo"><a routerLink="/three"><img src="../../../assets/images/logo.png"></a></h1>
	<i class="font-navicon small-nav" id="smallNav"></i>
</header>
<section class="container">
	<aside class="navigation oys" id="navigation">
		<ul>
			<li>
				<h3 class="js-tit"><span>Scene 场景</span><i class="font-angle-right"></i></h3>
				<menu>
					<li><a routerLink="/three/scene" routerLinkActive="active">场景</a></li>
				</menu>
			</li>
		</ul>
	</aside>
	<main class="oxys">
		<section class="content ng-frame">
			<router-outlet></router-outlet>
		</section>
	</main>
</section>

