.navigation a,.navigation h3,.navigation h5,.omit{white-space:nowrap;overflow:hidden;word-wrap:normal;text-overflow:ellipsis}
.linear,.navigation h3 i,.navigation h5 i{transition:all .3s linear}
.font-angle-right:before{content:'\f105'}
.font-navicon:before{content:'\f0c9';font-size:16px}
.header{height:50px;border-bottom:1px solid #efefef}
.logo{position:relative;top:50%;margin:-20px 0 0 20px;width:150px;height:40px;float:left}
.logo a{width:100%;height:100%;display:block}
.logo img{width:100%;height:100%}
.small-nav{width:30px;height:30px;background-color:#4da1ff;color:#fff;text-align:center;line-height:30px;border-radius:3px;position:relative;top:50%;margin:-15px 0 0 10px;float:left;cursor:pointer;display:none}
.container{width:100%;position:absolute;top:50px;bottom:0;min-width:320px}
.navigation{width:200px;height:100%;float:left;border-right:1px solid #efefef;position:relative}
.navigation menu,.navigation nav{margin-left:20px;display:none}
.navigation h3,.navigation h5{height:32px;line-height:32px;padding:0 5px;box-sizing:content-box;border:1px solid #fff;cursor:pointer}
.navigation h3 span,.navigation h5 span{float:left}
.navigation h3 i,.navigation h5 i{font-size:18px;float:right;transform:rotate(0)}
.navigation h3:hover,.navigation h5:hover{border-color:#4da1ff}
.navigation h3.active,.navigation h5.active{color:#4da1ff}
.navigation h3.active i,.navigation h5.active i{transform:rotate(90deg)}
.navigation h3>a,.navigation h5>a{padding:0;height:32px;line-height:32px}
.navigation a,.navigation h3,.navigation h5{border-radius:3px}
.navigation a:hover,.navigation h3:hover,.navigation h5:hover{background-color:#eee;color:#4da1ff}
.navigation a,.navigation h5{height:28px;line-height:28px}
.navigation h5 i{font-size:18px}
.navigation ul{padding:10px 5px}
.navigation a{display:block;padding:0 5px}
.navigation a.active{color:#4da1ff}
main{height:100%;margin-left:200px;background-color:#fafbfc}
main::-webkit-scrollbar{width:5px;height:5px}
.content{padding:20px}
@media (max-width:767px){
.navigation{position:absolute;z-index:1;left:0;top:0;bottom:0;height:auto;background-color:#fff;display:none}
.navigation.show{display:block}
main{margin:0}
.content{padding:3% 3% 60px 3%}
.small-nav{display:block}
}