<div style="height:382px" class="table-scroll oxys">
	<table class="table table-fixed">
		<thead>
			<tr>
				<th *ngFor="let v of data.dataTitle">{{v}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let v of data.data">
				<td>{{v.id}}</td>
				<td>{{v.name}}</td>
				<td>{{v.note}}</td>
				<td>{{v.stock}}</td>
				<td>{{v.ship}}</td>
				<td>{{v.sdate}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-------------------------- start ------------------------->
<control-component [parent]="this"></control-component>
<!--------------------------  end  ------------------------->



